In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
happy_path = "../Resources/happy15.csv"
happy = pd.read_csv(happy_path)
happy
#data taken from 2015

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [3]:
happy = happy[['Country', 'Happiness Rank', 'Happiness Score', 'Freedom']]
happy

         Country  Happiness Rank  Happiness Score  Freedom
0    Switzerland               1            7.587  0.66557
1        Iceland               2            7.561  0.62877
2        Denmark               3            7.527  0.64938
3         Norway               4            7.522  0.66973
4         Canada               5            7.427  0.63297
..           ...             ...              ...      ...
153       Rwanda             154            3.465  0.59201
154        Benin             155            3.340  0.48450
155        Syria             156            3.006  0.15684
156      Burundi             157            2.905  0.11850
157         Togo             158            2.839  0.36453

[158 rows x 4 columns]

In [4]:
sad_path = "../Resources/sad.csv"
sad_df = pd.read_csv(sad_path)
sad_df = sad_df.rename({'country':'Country', 'suicides_no':'# of Suicides', 'suicides/100k pop':'Suicides per 100k',
                       'gdp_per_capita ($)':'GDP per Capita'}, axis=1)
sad_df

,Country,year,sex,age,# of Suicides,population,Suicides per 100k,country-year,HDI for year,gdp_for_year ($),GDP per Capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [5]:
sad = sad_df[sad_df.year == 2015]
sad = sad.groupby("Country")
sad = sad[['Country', '# of Suicides', 'Suicides per 100k', 'GDP per Capita']]
sad = sad.sum('# of Suicides')
sad = sad.reset_index()
sad

TypeError: f() takes 1 positional argument but 2 were given

In [ ]:
merge_df = happy.merge(sad, how = "inner", on= "Country")
merge_df.head()

In [ ]:
merge_df = merge_df.sort_values(by=['Happiness Rank'])
merge_df.head()